# frontend 
node_modules
.output
/.svelte-kit
/build
/dist-workers

# desktop
/release

# environment 
*.env
*.env.*
.envrc
.direnv/

# operating systems
.DS_Store
Thumbs.db

# editors 
.vscode/

# databases
app.db
app.db-*

# runtime data directories
/models/*
!/models/vad/
/models/vad/*
!/models/vad/silero_vad.onnx
/documents/
.cache/
