# frontend 
node_modules
.output
/.svelte-kit
/build

# desktop
/release

# environment 
*.env
*.env.*
.envrc
.direnv/

# operating systems
.DS_Store
Thumbs.db

# editors 
.vscode/

# databases
app.db
app.db-*

# runtime data directories
/models/
/documents/
.cache/
